n8n-workflows/asin-correlation-fixed.json
{
  "name": "ASIN Similar Products - American (Fixed)",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.keepa.com/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "1"
            },
            {
              "name": "asin",
              "value": "={{ $json.asin }}"
            }
          ]
        },
        "options": {}
      },
      "id": "07782478-766f-4d2b-bbb7-2f73169e6ffb",
      "name": "Get Product Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9824,
        -304
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "tRYlvW1nmaLYQPPr",
          "name": "Keepa API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const product = $input.first().json.products[0];\nconst variations = product.variations || [];\nconst primaryAsin = product.asin;\n\nconst getImageUrl = (prod) => {\n  if (!prod || !prod.images || !prod.images[0]) return '';\n  const img = prod.images[0].l || prod.images[0].m || '';\n  return img ? `https://m.media-amazon.com/images/I/${img}` : '';\n};\n\n// Get variation ASINs (excluding primary)\nconst variationAsins = variations\n  .map(v => v.asin)\n  .filter(asin => asin !== primaryAsin);\n\nreturn [{\n  json: {\n    primaryAsin,\n    primaryTitle: product.title || '',\n    primaryBrand: product.brand || '',\n    primaryImage: getImageUrl(product),\n    primaryUrl: `https://www.amazon.com/dp/${primaryAsin}`,\n    rootCategory: product.rootCategory,\n    variationAsins,\n    variationLookupString: variationAsins.slice(0, 20).join(','),\n    hasVariations: variationAsins.length > 0,\n    searchQuery: JSON.stringify({ brand: product.brand || '', rootCategory: product.rootCategory, perPage: 50 })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10464,
        -304
      ],
      "id": "7fd66090-50c9-4b9c-bd0d-7a194853f319",
      "name": "Prep Data"
    },
    {
      "parameters": {
        "url": "https://api.keepa.com/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "1"
            },
            {
              "name": "asin",
              "value": "={{ $json.variationLookupString }}"
            }
          ]
        },
        "options": {}
      },
      "id": "805ae443-1950-4652-aa22-2aa5d0ddc88f",
      "name": "Get Variation Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10688,
        -448
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "tRYlvW1nmaLYQPPr",
          "name": "Keepa API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst variationProducts = input.products || [];\nconst prepData = $('Prep Data').first().json;\n\nconst getImageUrl = (prod) => {\n  if (!prod || !prod.images || !prod.images[0]) return '';\n  const img = prod.images[0].l || prod.images[0].m || '';\n  return img ? `https://m.media-amazon.com/images/I/${img}` : '';\n};\n\n// Build variation list\nconst variations = variationProducts\n  .filter(p => p.asin !== prepData.primaryAsin)\n  .map(p => ({\n    asin: p.asin,\n    title: p.title || '',\n    brand: p.brand || '',\n    image: getImageUrl(p),\n    url: `https://www.amazon.com/dp/${p.asin}`,\n    type: 'variation'\n  }));\n\nreturn [{\n  json: {\n    primaryAsin: prepData.primaryAsin,\n    primaryTitle: prepData.primaryTitle,\n    primaryBrand: prepData.primaryBrand,\n    primaryImage: prepData.primaryImage,\n    primaryUrl: prepData.primaryUrl,\n    variations\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        -448
      ],
      "id": "7eb46672-dc23-406c-8782-489ffe555f0d",
      "name": "Extract Variations"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.keepa.com/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "1"
            },
            {
              "name": "selection",
              "value": "={{ $json.searchQuery }}"
            }
          ]
        },
        "options": {}
      },
      "id": "35bd0af8-c285-428b-a4cc-ea1a6eebbcce",
      "name": "Search Similar Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11136,
        16
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "tRYlvW1nmaLYQPPr",
          "name": "Keepa API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        12960,
        -448
      ],
      "id": "54293b00-2f7e-452b-993f-8db5b1c855be",
      "name": "Merge Branches"
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();\n\n  const primaryData = items[0]?.json || {};\n  const similarData = items[1]?.json || { similarProducts: [] };\n\n  const results = [];\n\n  // Primary ASIN info\n  const primaryAsin = primaryData.primaryAsin;\n  const primaryTitle = primaryData.primaryTitle;\n  const primaryBrand = primaryData.primaryBrand;\n  const primaryImage = primaryData.primaryImage;\n  const primaryUrl = primaryData.primaryUrl;\n\n  // Add variations - each as separate row correlated with primary\n  (primaryData.variations || []).forEach(v => {\n    results.push({\n      json: {\n        search_asin: primaryAsin,\n        search_title: primaryTitle,\n        search_brand: primaryBrand,\n        search_image: primaryImage,\n        search_url: primaryUrl,\n        similar_asin: v.asin,\n        title: v.title,\n        brand: v.brand,\n        image_url: v.image,\n        correlated_amazon_url: v.url,\n        suggested_type: 'variation'\n      }\n    });\n  });\n\n  // Add similar products - each as separate row correlated with primary\n  (similarData.similarProducts || []).forEach(s => {\n    results.push({\n      json: {\n        search_asin: primaryAsin,\n        search_title: primaryTitle,\n        search_brand: primaryBrand,\n        search_image: primaryImage,\n        search_url: primaryUrl,\n        similar_asin: s.asin,\n        title: s.title,\n        brand: null,\n        image_url: s.image,\n        correlated_amazon_url: s.url,\n        suggested_type: 'similar'\n      }\n    });\n  });\n\n  return results.length > 0 ? results : [{ json: { error: 'No correlations found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        -448
      ],
      "id": "2057823d-c9e7-43bb-bb97-cda9d4b2613a",
      "name": "Build Final Output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        11360,
        -80
      ],
      "id": "72ce6903-4fbf-4a26-82c6-0b6b8bc360f4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "  const input = $input.first().json;\n\n  const variationAsins = (input.variations || []).map(v => v.asin);\n\n  return [{\n    json: {\n      primaryAsin: input.primaryAsin,\n      primaryTitle: input.primaryTitle,\n      primaryBrand: input.primaryBrand,\n      primaryImage: input.primaryImage,\n      primaryUrl: input.primaryUrl,\n      variationAsins: variationAsins\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11136,
        -384
      ],
      "id": "c09358a3-0580-4b45-8e1d-1a9cf98d2183",
      "name": "VariationsToCompare"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  const variationData = items[0].json;\n  const asinListData = items[1].json;\n\n  const primaryAsin = variationData.primaryAsin;\n  const variationAsins = variationData.variationAsins || [];\n\n  // Create set of ASINs to exclude (primary + variations)\n  const excludeAsins = new Set([primaryAsin, ...variationAsins]);\n\n  // Filter asinList to keep only those NOT in variations\n  const candidateAsins = (asinListData.asinList || [])\n    .filter(asin => !excludeAsins.has(asin));\n\n  return [{\n    json: {\n      primaryAsin: variationData.primaryAsin,\n      primaryTitle: variationData.primaryTitle,\n      primaryBrand: variationData.primaryBrand,\n      primaryImage: variationData.primaryImage,\n      primaryUrl: variationData.primaryUrl,\n      candidateAsins: candidateAsins\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11584,
        -80
      ],
      "id": "dc3b3b7a-7750-4607-8ad6-e5dca96a0b57",
      "name": "CandidateAsins"
    },
    {
      "parameters": {
        "jsCode": "  const input = $input.first().json;\n\n  const items = input.candidateAsins.map(asin => ({\n    json: {\n      primaryAsin: input.primaryAsin,\n      primaryTitle: input.primaryTitle,\n      primaryBrand: input.primaryBrand,\n      primaryImage: input.primaryImage,\n      primaryUrl: input.primaryUrl,\n      candidateAsin: asin\n    }\n  }));\n\n  return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11808,
        -80
      ],
      "id": "f9e09fd5-b7d8-45aa-8ebc-c7b664d35c26",
      "name": "SplitASINs"
    },
    {
      "parameters": {
        "url": "https://api.keepa.com/product",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "1"
            },
            {
              "name": "asin",
              "value": "={{ $json.candidateAsin }}"
            }
          ]
        },
        "options": {}
      },
      "id": "912f3148-9550-4957-a12a-03cfdd21bba2",
      "name": "Get Candidate Details1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12256,
        -80
      ],
      "notesInFlow": false,
      "credentials": {
        "httpQueryAuth": {
          "id": "tRYlvW1nmaLYQPPr",
          "name": "Keepa API"
        }
      },
      "notes": "test"
    },
    {
      "parameters": {
        "jsCode": "  const input = $input.first().json;\n  const product = input.products?.[0] || {};\n\n  // Get primary data from the loop node\n  const loopData = $('Loop Over Items').item.json;\n\n  const getImageUrl = (prod) => {\n    if (!prod?.images?.[0]) return '';\n    const img = prod.images[0].l || prod.images[0].m || '';\n    return img ? `https://m.media-amazon.com/images/I/${img}` : '';\n  };\n\n  return [{\n    json: {\n      primaryAsin: loopData.primaryAsin,\n      primaryTitle: loopData.primaryTitle,\n      primaryBrand: loopData.primaryBrand,\n      primaryImage: loopData.primaryImage,\n      primaryUrl: loopData.primaryUrl,\n      candidateAsin: product.asin,\n      candidateTitle: product.title || 'Unknown',\n      candidateBrand: product.brand || 'Unknown',\n      candidateImage: getImageUrl(product),\n      candidateUrl: `https://www.amazon.com/dp/${product.asin}`\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12480,
        -80
      ],
      "id": "1445dba6-a5f4-42a3-b64f-7af6beb7dc3e",
      "name": "Get Candidate Details2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        12032,
        -80
      ],
      "id": "346df1f7-92f2-4ce6-bdbe-410eb728778a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  PRIMARY PRODUCT:\n  Title: {{ $json.primaryTitle }}\n  Brand: {{ $json.primaryBrand }}\n\n  CANDIDATE PRODUCT:\n  ASIN: {{ $json.candidateAsin }}\n  Title: {{ $json.candidateTitle }}\n  Brand: {{ $json.candidateBrand }}\n\n  Question: Is the CANDIDATE the same product as the primary product?\n\n  Answer YES if:\n  - Both are the same product (e.g., both speakers, both headphones)\n  - Candidate is a variant of the primary (different color, size, model)\n\n  Answer NO if:\n  - Candidate is a different kind of product (e.g., primary is speaker, candidate is cable)\n  - Candidate is an accessory (charger, cable, case, adapter)\n  - Candidate serves a completely different purpose\n  - The candidate is a different year's model of a product\n\n  Answer with ONLY: YES or NO",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        12704,
        -80
      ],
      "id": "e4664a70-5bcb-41f5-ac63-7f841170da62",
      "name": "AI Evaluate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-5-20250929",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        12752,
        80
      ],
      "id": "aad8e5b8-b1b7-4ea3-bf2f-d9d179424114",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "TsgFnYtxloDeXOR2",
          "name": "AnthropicNode"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  const input = $input.first().json;\n  const response = (input.text || '').toUpperCase().trim();\n  const isApproved = response.includes('YES');\n\n  const loopData = $('Loop Over Items').item.json;\n  const candidateData = $('Get Candidate Details2').first().json;\n\n  return [{\n    json: {\n      primaryAsin: loopData.primaryAsin,\n      primaryTitle: loopData.primaryTitle,\n      primaryImage: loopData.primaryImage,\n      primaryUrl: loopData.primaryUrl,\n      candidateAsin: candidateData.candidateAsin,\n      candidateTitle: candidateData.candidateTitle,\n      candidateImage: candidateData.candidateImage,\n      candidateUrl: candidateData.candidateUrl,\n      isApproved\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13056,
        48
      ],
      "id": "a8877fbe-f2c6-4713-bd8f-d281f57bc936",
      "name": "AI Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e6d1a0bf-9865-43be-a432-8eb56c089a07",
              "leftValue": "={{ $json.isApproved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        12256,
        -384
      ],
      "id": "5c314a1c-2f23-4f49-9962-24aff70c7e97",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  const similarProducts = items.map(item => ({\n    asin: item.json.asin,\n    title: item.json.title,\n    image: item.json.image,\n    url: item.json.url,\n    type: 'similar'\n  }));\n\n  return [{\n    json: {\n      similarProducts: similarProducts\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12768,
        -384
      ],
      "id": "53907b0a-a8b9-4e01-ba85-27ced0de6272",
      "name": "Approved Container"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  return items.map(item => ({\n    json: {\n      asin: item.json.candidateAsin,\n      title: item.json.candidateTitle,\n      image: item.json.candidateImage,\n      url: item.json.candidateUrl\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12480,
        -384
      ],
      "id": "1d128530-618f-4569-bb40-d577789a30a6",
      "name": "RemovePrimaryASIN"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asin_correlations",
          "mode": "list",
          "cachedResultName": "asin_correlations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "search_asin": "={{ $json.search_asin }}",
            "suggested_type": "={{ $json.suggested_type }}",
            "correlated_amazon_url": "={{ $json.correlated_amazon_url }}",
            "search_image_url": "={{ $json.search_image }}",
            "similar_asin": "={{ $json.similar_asin }}",
            "correlated_title": "={{ $json.title }}",
            "user_id": "94e1f3a0-6e1b-4d23-befc-750fe1832da8",
            "image_url": "={{ $json.image_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_asin",
              "displayName": "search_asin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "similar_asin",
              "displayName": "similar_asin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlated_title",
              "displayName": "correlated_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_type",
              "displayName": "suggested_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_score",
              "displayName": "correlation_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlated_amazon_url",
              "displayName": "correlated_amazon_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_image_url",
              "displayName": "search_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9197e439-81b6-4867-bd94-471d7287b2b3",
      "name": "UpdateExistingSku",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        13872,
        -448
      ],
      "credentials": {
        "postgres": {
          "id": "YxtUSihbqdQS39kv",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Fast query using service_role"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        13488,
        -448
      ],
      "id": "7192ce4d-0bb9-4aa6-a60f-8f7f3166ed6f",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13696,
        -544
      ],
      "id": "72c71051-9569-43f8-b035-39a4267a140c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "influencer-asin-lookup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9216,
        -496
      ],
      "id": "fda36fb8-ee94-4657-860b-59c64742575f",
      "name": "influencer-asin-lookup",
      "webhookId": "0b80dcc7-57ca-4cc1-a6d3-0006c99e9957"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Processing started', asin: $json.body?.asin || 'unknown' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        9456,
        -592
      ],
      "id": "respond-immediately",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-asin",
              "name": "asin",
              "value": "={{ $json.body?.asin || $json.asin }}",
              "type": "string"
            },
            {
              "id": "extract-userid",
              "name": "userId",
              "value": "={{ $json.body?.userId || $json.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9600,
        -400
      ],
      "id": "extract-webhook-data",
      "name": "Extract Webhook Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Product Data": {
      "main": [
        [
          {
            "node": "Prep Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Data": {
      "main": [
        [
          {
            "node": "Get Variation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Similar Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Variation Details": {
      "main": [
        [
          {
            "node": "Extract Variations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Variations": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          },
          {
            "node": "VariationsToCompare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Similar Products": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Build Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Output": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CandidateAsins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VariationsToCompare": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CandidateAsins": {
      "main": [
        [
          {
            "node": "SplitASINs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitASINs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Details1": {
      "main": [
        [
          {
            "node": "Get Candidate Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Candidate Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Details2": {
      "main": [
        [
          {
            "node": "AI Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Evaluate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluate": {
      "main": [
        [
          {
            "node": "AI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parser": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "RemovePrimaryASIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Container": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RemovePrimaryASIN": {
      "main": [
        [
          {
            "node": "Approved Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateExistingSku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateExistingSku": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "influencer-asin-lookup": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Webhook Data": {
      "main": [
        [
          {
            "node": "Get Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fixed-version-1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9febb8d6c45c2b62f4b2515d981816fce91273d12c64817a575015f004243210"
  },
  "id": "asin-correlation-fixed",
  "tags": []
}
